<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        // This javascript reloads the page information from the server, not from the browser cache, so the keywords
        // that show up are up-to-date
        window.onload = function() {
            if(!window.location.hash) {
            window.location = window.location + '#loaded';
            window.location.reload();
            }
        }
    </script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <script src="http://phuonghuynh.github.io/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/bubble-chart.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/central-click/central-click.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.6.0/d3.min.js"></script>
    <script src="reusablebubble.js"></script>


    <title>Bubble Chart</title>

    <style>
        .colorbox1 {
            float: left;
            width: 20px;
            height: 20px;
            margin: 5px;
            border: 1px solid #1a1a1d;
            background: #f3b54a;
        }

        .colorbox2 {
            float: left;
            width: 20px;
            height: 20px;
            margin: 5px;
            border: 1px solid #1a1a1d;
            background: #6b819b;
        }
        body{
            background: #d8c3a5;
            opacity:5;
            padding: 20px;
        }
    </style>
</head>






<body>
<div class="chart-example" id="chart"><svg></svg></div>


    <div>
        <script>
            // Retrieve config file values here ane
            var forceApart, minRadius, maxRadius = 0;

            // making API request to get contents of config file
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", '/applicationconfig', false ); // false for synchronous request
            xmlHttp.send( null );

            var text = xmlHttp.responseText;
            var data = JSON.parse(text);

            var userKwCount = data["NUM_KWS"].toString();
            var regKWCount = data["NUM_REG_KWS"].toString();
            var numOfubbles = parseInt(data['MAX_BUBBLES']);

            //as numOfBubbles scales up, we need max radius to go down
            //bub|| maxr|| forceapart
            // 9 || 125 || -850
            // 14|| 100 || -700
            // 19|| 75  || -500
            // 30|| 70  || -300

            // Polynomial functions for dynamic graph sizing
            maxRadius = ((-2.520661) * numOfubbles) + 137.9719;
            forceApart = (26.23967 * numOfubbles) -970.814;
            minRadius = (-0.5 * numOfubbles) + 30;

            //Must set maximums and minimums so we don't go wild with bubbles that are too large, small, close, or far apart.
            if(forceApart > -230)
            {
                forceApart = -230;
            }
            if(maxRadius < 40)
            {
                maxRadius = 40;
            }
            if(minRadius < 15)
            {
                minRadius = 15;
            }

            // Creating the bubble chart with the calculated values
            d3.csv('csvkeywords', function (error, data) {
                if (error) {
                    console.error('Error getting or parsing the data.');
                    throw error;
                }
                var chart = bubbleChart().width(1300).height(865).forceApart(forceApart).minRadius(minRadius).maxRadius(maxRadius).customColors(["M", "F"], ["#f3b54a", "#6b819b"]);
                d3.select('#chart').data(data).call(chart);
            });


        </script>
    </div>

<hr style="background-color: #1a1a1d">

    <div class="colorbox1" style="padding-bottom: 10px"></div>
        <p> = User Document Keywords</p>

    <div class="colorbox2" style="padding-bottom: 10px"></div>
        <p> = Regulatory Document Keywords</p>
        <hr style="background-color: #1a1a1d">

        <div class="row marketing">
            <div class="col-lg-6">
                <h5>Authors</h5>
                <p>Tyler Blanton, Paul Brown</p>
            </div>

            <div class="col-lg-6">
                <h5>Client</h5>
                <p>Benjamin Pope</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Medtronic 2018</p>
        </footer>
</body>