<!--<!DOCTYPE html>
<html>
<body>

<h1>Linguistic Analyzer</h1>
<h3>University of Colorado Denver 2017-2018</h3>
<h5><b>Tyler Blanton  |  Paul Brown</b></h5>


</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linguistic Analyzer</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">

            <h3 class="text-info" align="right">Linguistic Analyzer</h3>
        </div>


        <div class="jumbotron">
            <h1>Linguistic Analyzer</h1>
            <p class="lead"></p>


        <form action="/analyze" enctype="multipart/form-data" method="post">
        <p>
            <h6>Please specify a file, or a set of files:</h6>
            <input type="file" name="datafile" size="40">
        </p>

            <h6>Select regulatory document to compare against: </h6>
            <select name="regdocname" style="background-clip: border-box">
                <option value="Select">Select</option>
                <option value="small_sample.pdf">small sample</option>
                <option value="small_sample_reword.pdf">small sample reword</option>
                <option value="BSI 14971 Application of risk management to medical devices (2012).pdf">BSI 14971 Application of risk management to medical devices (2012)</option>
                <option value="simple_description.pdf">simple description - Paul's name first</option>
                <option value="simple_description_name_switch.pdf">simple description - Tyler's name first</option>
                <option value="AnalyzerDescription_BACKWARD.pdf">AnalyzerDescription_BACKWARD</option>
                <option value="t_blant_reword.pdf">t_blant_reword</option>
            </select>

            <br>
            <br>

            <!-- UPLOAD BUTTON -->
            <div>
                <input class="btn btn-lg btn-success" type="submit" value="Upload File">
            </div>



        </form>




            <br>
            <form action="/project" enctype="multipart/form-data" method="get">
            <div>
                <input class="btn btn-lg btn-info" type="submit" value="Info">
            </div>
        </form>

        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Authors</h4>
                <p>Tyler Blanton</p>
                <p>Paul Brown</p>
            </div>

            <div class="col-lg-6">
                <h4>Client</h4>
                <p>Benjamin Pope</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Medtronic 2017</p>
        </footer>

    </div>
</body>

</html>