<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linguistic Analyzer</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />

        <!-- The Stylesheets -->
        <link href="assets/css/style.css" rel="stylesheet" />

    <script>


        window.onload = function (ev) {
            // making API request to get contents of config file
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", '/applicationconfig', false ); // false for synchronous request
            xmlHttp.send( null );

            var text = xmlHttp.responseText;
            var data = JSON.parse(text);

            document.getElementById("Spinner").style.visibility = "hidden";

            if(data["NEW_DOC_FLAG"] == "true"){
                alert('Thank you.\nNew Regulatory Document has been added to list.\nPlease re-select file in Step 1.')
            }

        }

        function SpinFaster(){
            window.alert("Analyzing will begin when you close this message. Please note that large files may take a while to analyze");
            document.getElementById("Spinner").style.animation = "animation: spin 2s linear infinite;";
            document.getElementById("Spinner").style.visibility = "visible";
        }


        function move() {
          var elem = document.getElementById("myBar");
          var width = 1;
          var id = setInterval(frame, 10);
          function frame() {
            if (width >= 100) {
                width = 1;
                //clearInterval(id);
            } else {
              width +=0.6;
              elem.style.width = width + '%';
            }
          }
        }

        function alertme() {
            window.alert("Analyzing will begin when you close this message. Please note that large files may take a while to analyze");
        }

        function AnalyzeMessage(){
            document.getElementById("Analyze Message").style.visibility = "visible";
        }

        function ShowSpinner() {
            document.getElementById("Spinner").style.visibility = "visible";

        }

        function LoadingText(){
            document.getElementById("AnalyzeButton").value = "Loading...";

        }

    </script>


    <style>
        body{
            background: #d8c3a5;
            opacity:5;
        }
        .jumbotron {
            box-sizing: border-box;
            border-radius: 10px;
            border: 4px solid #0a1612;
        }

        #myProgress {
          width: 100%;
          background-color: #ddd;
        }

        #myBar {
          width: 1%;
          height: 30px;
          background-color: #4CAF50;
        }


        .loader {
          border: 16px solid #f3f3f3;
          border-radius: 50%;
          border-top: 16px solid blue;
          border-right: 16px solid white;
          border-bottom: 16px solid white;
          border-left: 16px solid white;
          width: 62px;
          height: 62px;
          -webkit-animation: spin 2s linear infinite;
          {#animation: spin 13s linear infinite;#}
        }

        /* Safari */
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

    </style>


</head>

<body>


    <div class="container">
        <div class="header">

            <h3 style="color:#080706" align="right">Linguistic Analyzer</h3>
        </div>


        <div class="jumbotron" style="color:#080706;background-color: #edeae5">
            <h2 style="padding-left: 400px;font: bold 2em Helvetica, sans-serif;" > <u>Linguistic Analyzer</u></h2>


        <form action="/analyze" enctype="multipart/form-data" method="post">

            <h2>Step 1.</h2>
            <h6>Please specify your file:</h6>

            <input type="file" name="datafile" size="40">

            <hr style="background-color: #1a1a1d">

            <table style="border-collapse: collapse">
                <tr>
                    <td width="60%" class="step2" style="border-top: solid 2px #000000;border-bottom:solid 2px #000000; border-right: solid 2px #000000;border-left: solid 2px #000000; padding-left: 9px;padding-right: 9px">
                        <h2>Step 2.</h2>
                        <h6><u>Select regulatory document to compare against</u></h6>
                    <select title="Regulatory Document" name="regdocname" style="background-clip: border-box;width:95%">
                        <option class="reg doc options" value="Select">Select</option>
						<option value="4_sentence_kafka.txt">4_sentence_kafka</option>
						<option value="10_page_kafka.txt">10_page_kafka</option>
                        <option value="small_sample.txt">small sample</option>
                        <option value="small_sample_reword.txt">small sample reword</option>
                        <option value="simple_description.txt">simple description</option>
                        <option value="simple_description_name_switch.txt">simple description - Tyler's name first</option>
                        <option value="AnalyzerDescription_BACKWARD.txt">AnalyzerDescription_BACKWARD</option>
                        <option value="t_blant_reword.txt">t_blant_reword</option>
                        <option value="BSI_14971.txt">BSI 14971 Application of Risk Management to Medical Devices (2012)</option>
                        <option value="IEC_62304.txt">IEC 62304 Medical Device Software - Software Life Cycle Processes (2015)</option>
                        <option value="IEC_TR_80002-1.txt">IEC TR 80002-1 Guidance on the Application of ISO 14971 to Medical Device Software (2009)</option>
                        <option value="ISO_27002.txt">ISO 27002 Security Techniques - Code of Practice for Information Security Management (2005)</option>
                        <option value="S508C_Common_Cyber_Language.txt">S508C Common Cyber Language</option>
                        <option value="Polaris_API_Guide.txt">Polaris API Guide Rev 5 (IL-1070101)</option>
                    </select>
                    </td>
                    <td width="40%">

                        <h3 style="padding-left: 100px">
                            OR
                        </h3>
                    </td>
                    <td class="altstep2" style="border-top: dashed 2px #000000;border-bottom: dashed 2px #000000;border-right: dashed 2px #000000;border-left: dashed 2px #000000;padding-right: 9px;padding-left: 9px;">

                        <h2>Alt Step 2.</h2>
                        <h6><u>Upload locally stored regulatory document</u></h6>
                        <!--hr style="background-color: #E32E00;color: #E32E00"-->

                    </td>
                </tr>
                <tr>
                    <td>
                        <hr>

                        <table>
                            <tr>
                                <td>
                                    <!-- ANALYZE BUTTON -->
                                    <!--input onclick="ShowSpinner()" class="btn btn-lg" type="submit" value="Analyze" style="background-color: #eec015;color:#1a1a1d"-->
                                    <!--input onclick="SpinFaster()" class="btn btn-lg" id="AnalyzeButton" type="submit" value="Analyze" style="background-color: #eec015;color:#1a1a1d"-->
                                    <input onclick="LoadingText()" class="btn btn-lg" id="AnalyzeButton" type="submit" value="Analyze" style="background-color: #eec015;color:#1a1a1d">
                                </td>
                                <td>
                                    <div class="loader" id="Spinner" style="visibility:hidden; animation:spin 3s linear infinite "></div>
                                </td>
                            </tr>
                        </table>

                    </td>

                    </form>

                    <td>

                    </td>
                    <td>
                        <form action="/newregdoc" enctype="multipart/form-data" method="post">


                            <input class="btn btn-neutral" style="border: #06287e;border-radius: 10px;" type="file" name="datafile" value="Upload custom document">

                            <hr>
                            <input id="addregdocbutton" class="btn btn-large" style="border: #06287e;border-radius: 10px;
                            background-color:#303f42;color: #ffffff" type="submit" value="Add custom regulatory doc">
                        </form>
                    </td>
                </tr>
            </table>

            <hr style="background-color: #1a1a1d">

            <br>

            <div>
                <table>
                    <tr>
                        <td style="padding-left: 20px;padding-right: 20px">
                            <form action="/project" enctype="multipart/form-data" method="get">
                                <input class="btn btn-lg btn-info" type="submit" value="Info" style="background-color:#303f42;color: #eec015;">
                            </form>
                        </td>
                        <td style="padding-left: 20px;padding-right: 20px">
                            <form action="/documentationredirect" enctype="multipart/form-data" method="get", target="_blank">
                                <input class="btn btn-lg btn-info" type="submit" value="Documentation" style="background-color:#303f42;color: #eec015;">
                            </form>
                        </td>
                    </tr>
                </table>

            </div>


        </div>





        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Authors</h4>
                <p>Tyler Blanton</p>
                <p>Paul Brown</p>
            </div>

            <div class="col-lg-6">
                <h4>Client</h4>
                <p>Benjamin Pope</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Medtronic 2018</p>
        </footer>

    </div>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>