<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linguistic Analyzer</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        body{
            background: #d8c3a5;
            opacity:5;
        }
        .jumbotron {
            box-sizing: border-box;
            border-radius: 10px;
            border: 4px solid #0a1612;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="header">

            <h3 align="right" style="color:#080706">Linguistic Analyzer</h3>
        </div>


        <div class="jumbotron" style="color:#080706;background-color: #edeae5">
            <h1>Information</h1>
            <p class="lead"></p>
            <br>
            <h3><u>#--DESCRIPTION_TITLE--#</u></h3>
            <p>#--DESCRIPTION--#</p>

            <!-- HOME BUTTON -->
        <form action="/" enctype="multipart/form-data" method="get">
            <div>
                <input class="btn btn-lg btn-primary" type="submit" value="Home" style="background-color: #eec015;color:#1a1a1d">
            </div>
        </form>

        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Authors</h4>
                <p>Tyler Blanton</p>
                <p>Paul Brown</p>
            </div>

            <div class="col-lg-6">
                <h4>Client</h4>
                <p>Benjamin Pope</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Medtronic 2018</p>
        </footer>

    </div>
</body>

</html>