<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linguistic Analyzer</title>

    <!--link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        body{
            background: #d8c3a5;
            opacity:5;
        }
        .jumbotron {
            box-sizing: border-box;
            border-radius: 10px;
            border: 4px solid #0a1612;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="header">

            <h3 style="color:#080706" align="right">Linguistic Analyzer</h3>
        </div>


        <div class="jumbotron" style="color:#080706;background-color: #edeae5">
            <h1 style="font-size:26px"> ##ERROR## </h1>
            <p class="lead"></p>

            <form action="/linguistic_analyzer_log" enctype="multipart/form-data" method="get" target="_blank" style="padding: 10px">
                        <div>
                        <input class="btn btn-lg btn-link" type="image" value="Download Session Log" style="background-color:#303f42;color: #eec015">
                        </div>
            </form>

        <form action="/" enctype="multipart/form-data" method="get" style="padding: 10px">
            <div>
                <input class="btn btn-lg btn-primary" type="submit" value="Home" style="background-color: #eec015;color:#1a1a1d">
            </div>
        </form>

        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Authors</h4>
                <p>Tyler Blanton</p>
                <p>Paul Brown</p>
            </div>

            <div class="col-lg-6">
                <h4>Client</h4>
                <p>Benjamin Pope</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Medtronic 2018</p>
        </footer>

    </div>
</body>

</html>