<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linguistic Analyzer</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">

            <h3 class="text-info" align="right">Linguistic Analyzer</h3>
        </div>


        <div class="jumbotron">
            <h1>Processing File</h1>
            <p class="lead"></p>

            <!-- HOME BUTTON -->
        <form action="/" enctype="multipart/form-data" method="get">
            <div>
                <input class="btn btn-lg btn-primary" type="submit" value="Home">
            </div>
        </form>

        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Authors</h4>
                <p>Tyler Blanton</p>
                <p>Paul Brown</p>
            </div>

            <div class="col-lg-6">
                <h4>Client</h4>
                <p>Benjamin Pope</p>

            </div>
        </div>
        <div>
            <h5 class="text-muted">Processing file beginning with:</h5>
            <p>#--#...</p>
        </div>

        <footer class="footer">
            <p>&copy; Medtronic 2018</p>
        </footer>

    </div>
</body>

</html>