<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linguistic Analyzer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"-->

    <!--link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->

    <script src="http://phuonghuynh.github.io/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/bubble-chart.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/central-click/central-click.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>
    <!--script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script-->

    <script>

        window.onload = function(ev){

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", '/applicationconfig', false ); // false for synchronous request
            xmlHttp.send( null );

            var text = xmlHttp.responseText;
            var data = JSON.parse(text);

            document.getElementById("CompScore").style.borderColor = data["ANALYZE_STATUS"].toString();
            document.getElementById("donutchart").style.borderColor = data["ANALYZE_STATUS"].toString();
            document.getElementById("sharedkws").innerHTML = data["SHARED_KWS"].toString();
            document.getElementById("peripherallysharedkws").innerHTML = data["PERIPHERAL_KWS"].toString();
        }

    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", '/applicationconfig', false ); // false for synchronous request
            xmlHttp.send( null );

            var text = xmlHttp.responseText;
            var jsonData = JSON.parse(text);

            var sharedNum = jsonData["SHARED_KWS"].split(',').length - 1;
            if(isNaN(sharedNum) || jsonData["SHARED_KWS"].toString() == "" || sharedNum < 0)
            {
                sharedNum = 0;
            }

            var peripheralNum = jsonData["PERIPHERAL_KWS"].split(',').length - 1;
            if(isNaN(peripheralNum) || jsonData["PERIPHERAL_KWS"].toString() == "" || peripheralNum < 0) {
                peripheralNum = 0;
            }


            var notSharedNum = parseInt(jsonData["NUM_KWS"].toString()) - peripheralNum - sharedNum;


            var donutChartArr = [['Task', 'Hours Per Day'], ['Shared', sharedNum], ['Peripherally Shared', peripheralNum], ['Not Shared', notSharedNum]];

            var data = google.visualization.arrayToDataTable(donutChartArr);

            var options = {
              title: 'User Document Keyword Insight',
              pieHole: 0.4
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
      }
    </script>

    <style>
    .yulesinfo {
        box-sizing: border-box;
        width: 675px;
        padding: 10px;
        border-radius: 10px;
        border: 4px solid #333333;
    }
    .analyticsarea {
        box-sizing: border-box;
        width: 380px;
        padding: 10px;
        border-radius: 10px;
        border: 4px solid #333333;
    }
    .downloadarea {
        box-sizing: border-box;
        width: 580px;
        padding: 10px;
        border-radius: 10px;
        border: 4px solid #54637a;
    }
    .uploadyulesk {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .regyulesk {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .uploadyulesi {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .regyulesi {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .yulesklabel {
        width: 520px;
    }
    .yulesilabel {
        padding-top: 20px;
    }
    body{
        background: #d8c3a5;
        opacity:5;
    }
    .jumbotron {
        box-sizing: border-box;
        border-radius: 10px;
        border: 4px solid #0a1612;
    }
    .analyticstable tr, .analyticstable td{
        {#border: 2px solid black;#}
        padding-left: 20px;
        padding-right: 20px;
        height: 27px;
    }
    .vl {
        border-left: 2px solid black;
        height: 200px;
        padding: 10px;
    }

</style>
</head>

<body>

    <div class="container">
        <div class="header">
            <h3 style="color:#080706" align="right">Linguistic Analyzer</h3>
        </div>



            <div class="jumbotron" style="color:#080706;background-color: #edeae5">
            <h3 class="yulesklabel" align="left"><b><u>Results</u></b></h3>


        <table>
            <tr>
                <td style="border-right: 2px solid gray;padding-right: 10px">
                    <div id="CompScore" style="width:70%;border-style: outset;padding: 4px;border-width: 6px;border-color: #FF0000">
                    <p class="lead"></p>
                    <div class="d-inline-block">
                        <h3><b><u>Comparison Score*: </u></b></h3></div>
                    <div class="d-inline-block">
                        <h3 style="color: #20435c">#--COMPARISON_SCORE--#% similar</h3>
                    </div>
                    </div>
                    <div style="text-align: left">
                        <small><font size="1"><u>*Border color indicates similarity status. Options from best (most similar) to worst (least similar) are <font color="green">Green</font>, <font color="orange">Orange</font>, <font color="yellow" style="background-color: #333333">Yellow</font>, and <font color="red">Red</font></u></font> </small>
                    </div>
                </td>
                <td style="border-left: 2px solid gray; padding-left: 10px">

                    <!--div id="piechart"></div-->
                    <div id="donutchart" style="width: 420px; height: 250px; border-style: outset;padding: 6px;border-width: 6px;border-color: #FF0000;"></div>
                </td>
            </tr>


        </table>

            <hr>

            <table>
                <tr>
                    <td>
                        <h3 class="yulesklabel" align="left"><b>Yule's Algorithm Information</b></h3>
                    <div class="yulesinfo" >
            <table>
                <tr>

                    <div class = yuleskarea>
                    <td>
                            <h4 class="yulesklabel" align="left"><b><u>Yule's k Score</u></b></h4>

                    </td>
                    <td>
                        <!--YULES INFO BUTTON-->
                        <form action="/yulesinfo" enctype="multipart/form-data" target="_blank" method="get" about="more info">
                        <div align="right">
                        <input class="btn btn-small btn-info" type="submit" value="What is this?" style="background-color: #eec015;color:#1a1a1d">
                        </div>
                        </form>
                    </td>
                    </div>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <div class = "uploadyulesk" style="background-color: #70a0d0">
                            <h6><u>Uploaded Doc: </u>#--YULESK_SCORE--#</h6>
                        </div>
                    </td>

                    <td>
                        <div class = "regyulesk" style="background-color: #70a0d0">
                            <h6><u>Regulatory Doc: </u>#--REG_YULESK_SCORE--#</h6>
                        </div>
                    </td>
                </tr>

            </table>


                <h6 class="yulesilabel" align="left"><b><u>Yule's i Score</u></b></h6>

            <table>
                <tr>
                    <td>
                        <div class = "uploadyulesi" style="background-color: #408090">
                            <h6><u>Uploaded Doc: </u>#--YULESI_SCORE--#</h6>
                        </div>
                    </td>

                    <td>
                        <div class = "regyulesi" style="background-color: #408090">
                            <h6><u>Regulatory Doc: </u>#--REG_YULESI_SCORE--#</h6>
                        </div>
                    </td>

                </tr>

            </table>
            </div>
                    </td>
                    <td>
                        <h3 class="yulesklabel" align="left"><b>Analytics (scrollable)</b></h3>
                        <div class="analyticsarea" style="height:300px;width:350px;padding:7px;border:3px inset #000000;font:20px/20px Georgia, Serif;overflow:auto;">
                            <p style="padding: 5px; font-size: 12px"><b>You compared <i><u>#-USER-DOC-NAME-#</u></i> and <i><u>#-REG-DOC-NAME-#</u></i></b></p>
                            <hr>
                            <table class="analyticstable" style="width: 100%;">
                                <tr>
                                    <td>
                                        <p style="font-size: 12px"><u>Total User Document Keywords: </u></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">#--USER-DOC-KEYWORD-NUM--#</p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px"><u>Total Regulatory Document Keywords: </u></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">#--REG-DOC-KEYWORD-NUM--#</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <p style="font-size: 12px"><u>Percentage of User Document That Keywords Comprise: </u></p>
                                    </td>
                                    <td>
                                        <p style="font-size: 12px">#--KEYWORDS-COMPRISE--#</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px"><u>Shared Keywords: </u></p>
                                    </td>
                                    <td>
                                        <div style="height:150px;width:260px;padding:7px;border:3px inset #000000;font:20px/20px Georgia, Garamond, Serif;overflow:auto;">
                                        <p id="sharedkws"></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 12px"><u>Peripherally Shared Keywords: </u></p>
                                    </td>
                                    <td>
                                        <div style="height:100px;width:260px;padding:7px;border:3px inset #000000;font:20px/20px Georgia, Garamond, Serif;overflow:auto;">
                                        <p id="peripherallysharedkws"></p>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </td>
                </tr>

            </table>


            <hr>

        <h3 class="yulesklabel" align="left"><b>Graphs and Information</b></h3>
        <div class="downloadarea">
        <table>
            <tr>
                <td>

                    <form action="/keywordsalienceimage" target="_blank" enctype="multipart/form-data" method="get">
                    <div>
                        <input class="btn btn-small btn-secondary" type="image" value="View Keyword Salience Graph" style="background-color:#303f42;color: #ffffff">
                    </div>
                    </form>

                </td>
                <td>
                    <form action="/linguistic_analyzer_log" target="_blank" enctype="multipart/form-data" method="get">
                        <div>
                        <input class="btn btn-small btn-link" type="image" value="View Session Log" style="background-color: #ffffff;color:#eec015;box-sizing: border-box;border-color: #333333;border-radius: 10px">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/keywordfrequencyimage" target="_blank" enctype="multipart/form-data" method="get">
                    <div>
                        <input class="btn btn-small btn-secondary" type="image" value="View Keyword Frequency Graph" style="background-color:#303f42;color: #ffffff">
                    </div>
                    </form>
                </td>
                <td>
                    <form action="/user_doc_kws" target="_blank" enctype="multipart/form-data" method="get">
                        <div>
                        <input class="btn btn-small btn-link" type="image" value="View User Document Keywords" style="background-color: #ffffff;color:#eec015;box-sizing: border-box;border-color: #333333;border-radius: 10px">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                     <form action="/keywordscoresimage" target="_blank" enctype="multipart/form-data" method="get">
                        <div>
                            <input class="btn btn-small btn-secondary" type="image" value="View Keyword Scores Graph" style="background-color:#303f42;color: #ffffff">
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/reg_doc_kws" target="_blank" enctype="multipart/form-data" method="get">
                        <div>
                        <input class="btn btn-small btn-link" type="image" value="View Comparison Document Keywords" style="background-color: #ffffff;color:#eec015;box-sizing: border-box;border-color: #333333;border-radius: 10px">
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/" enctype="multipart/form-data" style="padding-left: 100px" method="get">
                        <div>
                            <input class="btn btn-lg btn-primary" type="submit" value="Home" style="background-color: #eec015;color:#1a1a1d">
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/keywordbubblechart" target="_blank" enctype="multipart/form-data" style="padding-left: 18px" method="get">
                        <div>
                            <input class="btn btn-lg btn-warning" type="submit" value="Generate Bubble Chart" style="background-color:#303f42;color: #eec015;">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>


            </tr>
        </table>
        </div>
        <br>
            <p>
            <div style="height:180px;width:1050px;padding:7px;border:3px solid #000000;font:8px/8px Georgia, Garamond, Serif;overflow
            :auto;">
            <p>ANALYTICS LOG - last 100 lines:</p>


            </div>
            </p>


        </div>


        <div class="row marketing">
            <div class="col-lg-6">
                <h5>Authors</h5>
                <p>Tyler Blanton, Paul Brown</p>
            </div>

            <div class="col-lg-6">
                <h5>Client</h5>
                <p>Benjamin Pope</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Medtronic 2018</p>
        </footer>

    </div>
</body>

</html>