<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linguistic Analyzer</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,200italic,600italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>

    <script src="http://phuonghuynh.github.io/js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/d3/d3.min.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/d3-transform/src/d3-transform.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/extarray.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/misc.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/cafej/src/micro-observer.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/microplugin/src/microplugin.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/bubble-chart.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/central-click/central-click.js"></script>
    <script src="http://phuonghuynh.github.io/js/bower_components/bubble-chart/src/plugins/lines/lines.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.6.0/d3.min.js"></script>
    <script src="reusablebubble.js"></script>




    <style>
    .yulesinfo {
        box-sizing: border-box;
        width: 675px;
        padding: 10px;
        border-radius: 10px;
        border: 4px solid #333333;
    }
    .downloadarea {
        box-sizing: border-box;
        width: 685px;
        padding: 10px;
        border-radius: 10px;
        border: 4px solid #54637a;
    }
    .uploadyulesk {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .regyulesk {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .uploadyulesi {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .regyulesi {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .yulesklabel {
        width: 520px;
    }
    .yulesilabel {
        padding-top: 20px;
    }
    body{
        background: #d8c3a5;
        opacity:5;
    }
    .jumbotron {
        box-sizing: border-box;
        border-radius: 10px;
        border: 4px solid #0a1612;
    }
</style>


</head>


<body>

    <div class="container">
        <div class="header">

            <h3 style="color:#080706" align="right">Linguistic Analyzer</h3>
        </div>

        <div class="jumbotron" style="color:#080706;background-color: #edeae5">
            <div class="yulesinfo" >
            <table>
                <tr>
                    <div class = yuleskarea>
                    <td>
                        <h6 class="yulesklabel" align="left"><b><u>Yule's k Score</u></b></h6>
                    </td>
                    <td>
                        <!--YULES INFO BUTTON-->
                        <form action="/yulesinfo" enctype="multipart/form-data" method="get" about="more info">
                        <div align="right">
                        <input class="btn btn-small btn-info" type="submit" value="What is this?" style="background-color: #eec015;color:#1a1a1d">
                        </div>
                        </form>
                    </td>
                    </div>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <div class = "uploadyulesk" style="background-color: #70a0d0">
                            <h6><u>Uploaded Doc: </u>#--YULESK_SCORE--#</h6>
                        </div>
                    </td>

                    <td>
                        <div class = "regyulesk" style="background-color: #70a0d0">
                            <h6><u>Regulatory Doc: </u>#--REG_YULESK_SCORE--#</h6>
                        </div>
                    </td>
                </tr>

            </table>


                <h6 class="yulesilabel" align="left"><b><u>Yule's i Score</u></b></h6>

            <table>
                <tr>
                    <td>
                        <div class = "uploadyulesi" style="background-color: #408090">
                            <h6><u>Uploaded Doc: </u>#--YULESI_SCORE--#</h6>
                        </div>
                    </td>

                    <td>
                        <div class = "regyulesi" style="background-color: #408090">
                            <h6><u>Regulatory Doc: </u>#--REG_YULESI_SCORE--#</h6>
                        </div>
                    </td>

                </tr>

            </table>
            </div>


            <p class="lead"></p>
            <div class="d-inline-block">
                <h5><b><u>Comparison Score: </u></b></h5></div>
            <div class="d-inline-block">
                <h5 style="color: crimson">#--COMPARISON_SCORE--#</h5>
            </div>


            <hr>


        <div class="downloadarea">
        <table>

            <tr>
                <th><h6><u>Downloads</u></h6></th>
            </tr>
            <tr>
                <td>

                    <form action="/keywordsalienceimage" target="_blank" enctype="multipart/form-data" method="get">
                    <div>
                        <input class="btn btn-small btn-secondary" type="image" value="View Keyword Salience Graph" style="background-color:#303f42;color: #ffffff">
                    </div>
                    </form>

                </td>
                <td>
                    <form action="/linguistic_analyzer_log" target="_blank" enctype="multipart/form-data" method="get">
                        <div>
                        <input class="btn btn-small btn-link" type="image" value="View Session Log" style="background-color: #ffffff;color:#eec015;box-sizing: border-box;border-color: #333333;border-radius: 10px">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/keywordfrequencyimage" target="_blank" enctype="multipart/form-data" method="get">
                    <div>
                        <input class="btn btn-small btn-secondary" type="image" value="View Keyword Frequency Graph" style="background-color:#303f42;color: #ffffff">
                    </div>
                    </form>
                </td>
                <td>
                    <form action="/user_doc_kws" target="_blank" enctype="multipart/form-data" method="get">
                        <div>
                        <input class="btn btn-small btn-link" type="image" value="View User Document Keyword Log" style="background-color: #ffffff;color:#eec015;box-sizing: border-box;border-color: #333333;border-radius: 10px">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                     <form action="/keywordscoresimage" target="_blank" enctype="multipart/form-data" method="get">
                        <div>
                            <input class="btn btn-small btn-secondary" type="image" value="Download Keyword Scores Graph" style="background-color:#303f42;color: #ffffff">
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/reg_doc_kws" target="_blank" enctype="multipart/form-data" method="get">
                        <div>
                        <input class="btn btn-small btn-link" type="image" value="View Comparison Document Keyword Log" style="background-color: #ffffff;color:#eec015;box-sizing: border-box;border-color: #333333;border-radius: 10px">
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/" enctype="multipart/form-data" style="padding-left: 100px" method="get">
                        <div>
                            <input class="btn btn-lg btn-primary" type="submit" value="Home" style="background-color: #eec015;color:#1a1a1d">
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/keywordbubblechart" target="_blank" enctype="multipart/form-data" style="padding-left: 18px" method="get">
                        <div>
                            <input class="btn btn-lg btn-warning" type="submit" value="Generate Bubble Chart" style="background-color:#303f42;color: #eec015;">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>


            </tr>
        </table>
        </div>

        <br>
            <p>
            <div style="height:180px;width:1050px;padding:7px;border:3px solid #000000;font:10px/10px Georgia, Garamond, Serif;overflow
            :auto;">
            <p>ANALYTICS LOG - last 100 lines:</p>


            </div>
            </p>


        </div>


        <div class="row marketing">
            <div class="col-lg-6">
                <h5>Authors</h5>
                <p>Tyler Blanton, Paul Brown</p>
            </div>

            <div class="col-lg-6">
                <h5>Client</h5>
                <p>Benjamin Pope</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Medtronic 2018</p>
        </footer>

    </div>
</body>

</html>