<!DOCTYPE html>
<html lang="en">

<head>
    <title>Linguistic Analyzer</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>


<style>
    .yulesinfo {
        box-sizing: border-box;
        width: 675px;
        padding: 10px;
        border-radius: 10px;
        border: 4px solid #333333;
    }
    .downloadarea {
        box-sizing: border-box;
        width: 685px;
        padding: 10px;
        border-radius: 10px;
        border: 4px solid #54637a;
    }
    .uploadyulesk {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .regyulesk {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .uploadyulesi {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .regyulesi {
        box-sizing: border-box;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
    }
    .yulesklabel {
        width: 520px;
    }
    .yulesilabel {
        padding-top: 20px;
    }

</style>



<body>

    <div class="container">
        <div class="header">

            <h3 class="text-info" align="right">Linguistic Analyzer</h3>
        </div>

        <div class="jumbotron">
            <!--h5 align="right">Processing complete!</h5-->



            <div class="yulesinfo" >
            <table>
                <tr>
                    <div class = yuleskarea>
                    <td>
                        <h6 class="yulesklabel" align="left"><b><u>Yule's k Score</u></b></h6>
                    </td>
                    <td>
                        <!--YULES INFO BUTTON-->
                        <form action="/yulesinfo" enctype="multipart/form-data" method="get" about="more info">
                        <div align="right">
                        <input class="btn btn-small btn-info" type="submit" value="What is this?">
                        </div>
                        </form>
                    </td>
                    </div>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <div class = "uploadyulesk" style="background-color: #70a0d0">
                            <h6><u>Uploaded Doc: </u>#--YULESK_SCORE--#</h6>
                        </div>
                    </td>

                    <td>
                        <div class = "regyulesk" style="background-color: #70a0d0">
                            <h6><u>Regulatory Doc: </u>#--REG_YULESK_SCORE--#</h6>
                        </div>
                    </td>


                </tr>

            </table>


                <h6 class="yulesilabel" align="left"><b><u>Yule's i Score</u></b></h6>

            <table>
                <tr>
                    <td>
                        <div class = "uploadyulesi" style="background-color: #408090">
                            <h6><u>Uploaded Doc: </u>#--YULESI_SCORE--#</h6>
                        </div>
                    </td>

                    <td>
                        <div class = "regyulesi" style="background-color: #408090">
                            <h6><u>Regulatory Doc: </u>#--REG_YULESI_SCORE--#</h6>
                        </div>
                    </td>

                </tr>

            </table>
            </div>











<!--
            <h3 align="center"><u>Yule's k Score</u></h3>

            <p class="lead"></p>
            <div class="d-inline-block">
                <h4>Uploaded Doc: </h4></div>
            <div class="d-inline-block">
                <h4 style="color: crimson">#--YULESK_SCORE--#</h4>
            </div>

            <br>

            <div class="d-inline-block">
                <h4>Regulatory Doc: </h4></div>
            <div class="d-inline-block">
                <h4 style="color: crimson">#--REG_YULESK_SCORE--#</h4>
            </div>

            <h3 align="center"><u>Yule's i Score</u></h3>

            <div class="d-inline-block">
                <h4>Uploaded Doc: </h4></div>
            <div class="d-inline-block">
                <h4 style="color: crimson">#--YULESI_SCORE--#</h4>
            </div>

            <br>

            <div class="d-inline-block">
                <h4>Regulatory Doc: </h4></div>
            <div class="d-inline-block">
                <h4 style="color: crimson">#--REG_YULESI_SCORE--#</h4>
            </div>
-->

            <!--YULES INFO BUTTON-->
            <!--form action="/yulesinfo" enctype="multipart/form-data" method="get" about="more info">
                        <div align="right">
                        <input class="btn btn-small btn-info" type="submit" value="What is this?">
                        </div>
                        </form-->




            <p class="lead"></p>
            <div class="d-inline-block">
                <h5><b><u>Comparison Score: </u></b></h5></div>
            <div class="d-inline-block">
                <h5 style="color: crimson">#--COMPARISON_SCORE--#</h5>
            </div>

            <!--Comparison INFO BUTTONS-->
            <!--form action="/comparisoninfo" enctype="multipart/form-data" method="get" about="more info">
            <div align="right">
                <input class="btn btn-small btn-info" type="submit" value="What is this?">
            </div>
            </form-->

            <hr>


        <div class="downloadarea">
        <table>

            <tr>
                <th><h6><u>Downloads</u></h6></th>
            </tr>
            <tr>
                <td>
                    <form action="/keywordsalienceimage" enctype="multipart/form-data" method="get">
                    <div>
                        <input class="btn btn-small btn-secondary" type="submit" value="Download Keyword Salience Graph">
                    </div>
                    </form>
                </td>
                <td>
                    <form action="/linguistic_analyzer_log" enctype="multipart/form-data" method="get">
                        <div>
                        <input class="btn btn-small btn-link" type="submit" value="Download Session Log">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="/keywordfrequencyimage" enctype="multipart/form-data" method="get">
                    <div>
                        <input class="btn btn-small btn-secondary" type="submit" value="Download Keyword Frequency Graph">
                    </div>
                    </form>
                </td>
                <td>
                    <form action="/user_doc_kws" enctype="multipart/form-data" method="get">
                        <div>
                        <input class="btn btn-small btn-link" type="submit" value="Download User Document Keyword Log">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                     <form action="/keywordscoresimage" enctype="multipart/form-data" method="get">
                        <div>
                            <input class="btn btn-small btn-secondary" type="submit" value="Download Keyword Scores Graph">
                        </div>
                    </form>
                </td>
                <td>
                    <form action="/reg_doc_kws" enctype="multipart/form-data" method="get">
                        <div>
                        <input class="btn btn-small btn-link" type="submit" value="Download Comparison Document Keyword Log">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>

            </tr>
        </table>
        </div>

        <br>
            <p>
            <div style="height:180px;width:1050px;border:3px solid #ccc;font:10px/10px Georgia, Garamond, Serif;overflow
            :auto;">
            <p>ANALYTICS LOG - last 100 lines:</p>


            </div>
            </p>


            <!-- HOME BUTTON -->
        <form action="/" enctype="multipart/form-data" method="get">
            <div>
                <input class="btn btn-lg btn-primary" type="submit" value="Home">
            </div>
        </form>

        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h5>Authors</h5>
                <p>Tyler Blanton, Paul Brown</p>
            </div>

            <div class="col-lg-6">
                <h5>Client</h5>
                <p>Benjamin Pope</p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Medtronic 2017</p>
        </footer>

    </div>
</body>

</html>